.root { -fx-background-color: #2b2b2b; }
.label { -fx-text-fill: #ffffff; -fx-font-size: 14px; }
.button { -fx-background-color: #9e1b1b; -fx-text-fill: white; -fx-font-weight: bold;}
.button:hover { -fx-background-color: #c62828; }
.text-field, .combo-box, .table-view { -fx-background-color: #3b3b3b; -fx-text-fill: white; }
.radio-button, .check-box { -fx-text-fill: white; }
.table-view .column-header-background { -fx-background-color: transparent; }
